#alliances .alliances_title{
   font-size: 1.8vw;
   color:#F37246;
   margin: 2vw 0;
   padding: 0 4vw;
}
#alliances .alliances_details{
    font-size: 1.2vw;
    color:#001A31;
    padding: 0 4vw;
    text-align: justify;
}
.AllAlliances{
    width: 80%;
    margin: auto;
}

.alliances{
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 2vw 0;
}
#alliances .alliance{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   box-shadow: 0.5vw 0.5vw 4vw 0.5vw #0000001a;
   padding: 1vw;
   width: 80%;
   margin: 2vw 0;
   border-radius: 2vw;
}
#alliances .alliance p{
   width: 60%;
}
#alliances .alliances  .glide__track{
    margin: auto;
}
#alliances .content{
    height: 60vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

#alliances .glide__slide{
    margin:auto;
}

#alliances .glide__arrow{
    padding: 0;
    background-color: transparent;
    border: 0 solid rgba(255,255,255,0.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    text-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    cursor: pointer;
}

#alliances .glide__arrow--left {
    -webkit-transform: rotate(270deg) translate(80%,0);
    transform: rotate(270deg) translate(80%,0);
    left: -2em;
    z-index: 5;}
#alliances .glide__arrow--right {
    -webkit-transform: rotate(90deg) translate(-80%,0);
    transform: rotate(90deg) translate(-80%,0);
    right: -2em;
    z-index: 5;
}

#alliances .glide__arrow img{
    width: 6vw;
    height: auto;
}

#alliances .details{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
}
#alliances .details section h1{
    font-size: 2vw;
    margin:1vw 0;
    color: #F37246;
}
#alliances .details img{
    margin:0 2vw;
}
#alliances .details section {
    width: 80%;
}
#alliances img{
    margin: 2vw 0;
}
#alliances .details section div{
    color:#001A31 ;
    text-align: justify;
    font-size: 1.4vw;
}
#alliances .details img{
    width:15vw;
}


@media (max-width:800px) {

    #alliances .glide__arrow img{
        width: 60px;
    }
    #alliances .alliances_title{
        font-size: 22px;
        margin: 40px 0;
        padding: 0 20px;
        text-align: center;
    }
    #alliances .alliances_details{
        font-size: 18px;
        padding: 0 20px;
    }
    .alliances{
        margin: 40px 0;
    }
    #alliances .alliance{
        flex-direction: column-reverse;
        box-shadow: 4px 4px 8px 4px #0000001a;
        padding: 20px;
        width: 90%;
        margin: 40px 0;
        border-radius: 20px;
    }
    #alliances .alliance p{
        width: 100%;
    }
    #alliances .glide__arrow--left {
        -webkit-transform: rotate(270deg) translate(120%,0);
        transform: rotate(270deg) translate(120%,0);
        left: 0em;
    }
    #alliances .glide__arrow--right {
        -webkit-transform: rotate(90deg) translate(-120%,0);
        transform: rotate(90deg) translate(-120%,0);
        right: 0em;
    }
    #alliances .details section h1{
        font-size: 22px;
        text-align: center;
        margin:20px 0;
    }
    #alliances .details img{
        display: none;
    }
    #alliances .details section {
        width: 95%;
    }
    #alliances .details section div{
        font-size: 18px;
    }

}
