#numbers{
    background-color: rgb(121 , 80 , 160);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: "title slider";
    padding: 2vw 0 5vw 0;
    overflow-y: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#numbers .title{
   grid-area: title;
   display: grid;
   justify-items: center;
   align-items: center;
   width: 70%;
}

#numbers .title h2{
    font-size: 2vw;
    position: relative;
    color: #fff !important;
}
#numbers .title h2::after{
    content: "";
    position: absolute;
    bottom: -40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 1.5vh;
    background-color: #fff;
    border-radius: 20px;
}

#numbers .title a{
    justify-self: end;
    font-size: 1.4vw;
    color: #fff;
    border: 0.3vw solid #fff;
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-top: 3vw;
}

#numbers .title .persons-icons{
    position: absolute;
    bottom: -25%;
    left: 5%;
    width: 20%;
    height: auto;
}
html[lang="ar"] #numbers .title .persons-icons{
    right: 15%;
}
html[lang="ar"] #numbers .title .persons-icons{
    -webkit-transform: translate(-50%,0);
    transform: translate(50%,0);
}

#numbers .title a:hover{
    color: #fff ;
}
#numbers .glide{
   grid-area: slider;
   width: 100%;
   display: grid;
}

#numbers .glide__slides{
  justify-items: center;
  align-items: center;
}

#numbers .glide__slide img{
    width: 6vw;
    height: auto;
    margin: auto;
}
#numbers .glide__slide p{
    font-size: 1.2vw;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: #fff;
}
#numbers .glide__slide span{
    font-size: 1.2vw;
    font-weight: bold;
    margin: 1vw auto;
    color: #fff;
}

#numbers .glide__bullets {
    bottom: -20% !important;
}

#numbers .glide__slide{
    display: grid;
    justify-content: center;
    text-align: center;
}
#numbers .glide{
    grid-area: slider;
    width: 100%;
    display: grid;
 }

 #numbers .glide__slides{
   justify-items: center;
   align-items: center;
 }

 #numbers .glide__slide img{
     width: 6vw;
     height: auto;
     margin: auto;
 }
 #numbers .glide__slide p{
     font-size: 1.2vw;
     margin: auto;
     text-align: center;
     color: #fff;
 }
 #numbers .glide__slide span{
     font-size: 1.2vw;
     margin: 1vw auto;
     color: #fff;
 }

 #numbers .glide__bullets {
     bottom: -20% !important;
 }

 #numbers .glide__slide{
     display: grid;
     justify-content: center;
     text-align: center;
 }

@media (max-width:800px) {
    #numbers{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "title" "slider";
        padding: 50px 0 120px 0;
        margin: 0px auto 60px auto;
    }

    #numbers .title{
       width: 90%;
    }

    #numbers .title h2{
        font-size: 35px;
    }

    #numbers .title h2::after{
        height: 10px;
    }

    #numbers .title a{
        font-size: 18px;
        border: 2px solid #fff;
        padding: 15px;
        justify-self: center;
        margin: 40px 0;
        border-radius: 100px;
    }
    #numbers .title a img{
        width: 40px;
        margin: 0 10px;
    }
    #numbers .title .persons-icons{
        bottom: -10%;
        -webkit-transform: translate(-5%,0);
        transform: translate(-5%,0);
        width: 180px;
    }
    html[lang="ar"] #numbers .title .persons-icons{
        -webkit-transform: translate(-5%,0);
        transform: translate(5%,0);
    }

    #numbers .glide__slide img{
        width: 100px;
        height: auto;
        margin: auto;
    }
    #numbers .glide__slide p{
        font-size: 18px;
    }
    #numbers .glide__slide span{
        font-size: 18px;
        margin: 10px auto;
    }

    #numbers .glide__bullets {
        bottom: -10% !important;
    }
}

#Impacts .Impact{
    margin: 2vw auto;
    width: 90%;
    display: grid;
    justify-items: center;
}
/* Define the initial state of the element */
.Impact {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  /* Define the state when the element is fading out */
  .Impact.fade {
    opacity: 0;
  }

  /* Define the keyframes for the fade animation */
  @keyframes fade-animation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
#Impacts .Impacts{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.Impact_icon{
    width: 7vw;
    height: 7vw;
    border-radius: 100vw;
    background-color: #F5F5F5;
    display: grid;
    align-items: center;
    justify-items: center;
}
.Impact_icon::after{
    content: "";
    position: absolute;
    top: 50.1%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.1vw;
    height: 100%;
    border-radius: 100vw;
    background-color: #000;
    z-index: -1;

}
.Impact_icon img{
    width: 3vw;
    height: 3vw;
}

#Impacts .details p{
    width: 80%;
    margin: auto;
}

#Impacts .Impact .details {
    margin: 1vw;
    width: 40%;
    align-items: start;
}
#Impacts .Impact:nth-of-type(even) .details  {
    justify-self: end;
}

#Impacts .Impact:nth-of-type(odd) .details {
    justify-self: start;
}


#Impacts .Impact .details p {
    font-size: 1.2vw;
    padding: 1.5vw;
    border-radius: 2vw;
    margin: 1vw;
    background-color: #F5F5F5;
}

#Impacts .Impact .title {
    padding: 0.1vw;
}
#Impacts .Impact:nth-of-type(odd) .title, #Impacts .Impact:nth-of-type(odd) .Impact_icon {
    background-color:#35C0CA;

}
#Impacts .Impact:nth-of-type(even) .title, #Impacts .Impact:nth-of-type(even) .Impact_icon {
    background-color:#F37246;
}

html[lang="ar"] #Impacts .Impact:nth-of-type(odd) .title{
    border-radius: 0vw 2vw 2vw 2vw;

}
html[lang="ar"] #Impacts .Impact:nth-of-type(even) .title{
    border-radius: 2vw 0vw 2vw 2vw;
}
html[lang="en"] #Impacts .Impact:nth-of-type(odd) .title{
    border-radius: 2vw 0vw 2vw 2vw;
}
html[lang="en"] #Impacts .Impact:nth-of-type(even) .title{
    border-radius: 0vw 2vw 2vw 2vw;
}

#Impacts .Impact:nth-of-type(3) .title, #Impacts .Impact:nth-of-type(3) .Impact_icon {
    background-color:#43b649;
}
#Impacts .Impact:nth-of-type(4) .title, #Impacts .Impact:nth-of-type(4) .Impact_icon {
    background-color:#7950a0;
}

#Impacts .Impact:nth-of-type(5) .title, #Impacts .Impact:nth-of-type(5) .Impact_icon{
    background-color:#3e97c9;
}

#Impacts .Impact .title h1 {
    font-size: 1.8vw;
    text-align: center;
    margin: 2vw;
    color: white;
}


.AllImpacts{
    width: 80%;
    margin: auto;
}

#Impacts  .slider{
    width: 100%;
    margin: 2vw 0;
}

#Impacts .slider img{
    width: 15vw;
    height: auto;
    border-radius: 2vw;
}
#Impacts .slider h1{
font-size:1.2vw;
color: #F37246;
text-align: center;
}

.AllImpacts  .glide__track{
    margin: auto;
}
#Impacts .content{
    height: 60vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.AllImpacts .glide__slide{
    margin:auto;
}

.AllImpacts .glide__arrow{
    padding: 0;
    background-color: transparent;
    border: 0 solid rgba(255,255,255,0.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    text-shadow: 0 0 0 0 rgba(0,0,0,0.1);
    cursor: pointer;
}

.AllImpacts .glide__arrow--left {
    /* support safari */
    -webkit-transform: rotate(270deg) translate(50%,0);
    transform: rotate(270deg) translate(50%,0);
    left: -2em;
    z-index: 5;}
.AllImpacts .glide__arrow--right {
    /* support safari */
    -webkit-transform: rotate(90deg) translate(-50%,0);
    transform: rotate(90deg) translate(-50%,0);
    right: -2em;
    z-index: 5;
}

#Impacts .glide__arrow img{
    width: 6vw;
    height: auto;
}

.showStory .member{
    display:flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.showStory .StoryImage div{
    width: 19vw;
    height: 28vw;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    border-radius: 5vw;
    position: relative;
    z-index: 1;
}

.showStory .StoryImage div::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #001b333d;
    border-radius: 5vw;
    z-index: -1;
}

.showStory .member .title{
    margin: 2vw 0;
}
.showStory .title h1{
    color:#35C0CA;
    font-size:2vw;
    text-align: center;
}
.showStory .title p{
    color:#F37246;
    font-size:1.6vw;
    text-align: center;
    max-width: 20vw;
}
.showStory .StoryWithImage{
    display:grid;
    justify-items: center;
    align-items: center;
}
.showStory .details{
    width: 60%;
}
.showStory .details div{
    text-align: justify;
    font-size: 1.2vw;
    margin: 2vw;
}

.moreStories .more{
    text-align: center;
    background-color: #35C0CA;
    color: #fff;
    padding: 1vw 4vw;
    font-size: 1.5vw;
    cursor: pointer;
    margin: 3vw;
}

.moreStories{
    width: 100%;
    display: grid;
    justify-items: center;
}

@media (max-width:800px) {
    #Impacts .Impact{
        margin: 15px auto;
        width: 95%;
        justify-items: start;
    }
    #Impacts .Impacts{
        width: 100%;
        margin: 0 auto;
    }
    .Impact_icon{
        width: 50px;
        height: 80px;
        border-radius: 50px;
        justify-items: center;
    }
    .Impact_icon img{
        width: 30px;
        height: auto;
    }
    .Impact_icon::after{
        /* support safari */
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 0.1vw;
    }
    html[lang="ar"] .Impact_icon::after{
        right: 10%;
    }
    html[lang="en"] .Impact_icon::after{
        left: 10%;
    }
    #Impacts .Impact .details {
        margin: 1vw;
        width: 80%;
        align-items: end;
    }
    #Impacts .Impact:nth-of-type(even) .details  {
        justify-self: end;
    }

    #Impacts .Impact:nth-of-type(odd) .details {
        justify-self: end;
    }
    html[lang="ar"] #Impacts .Impact:nth-of-type(odd) .title{
        border-radius: 0px 20px 20px 20px;

    }
    html[lang="ar"] #Impacts .Impact:nth-of-type(even) .title{
        border-radius: 0px 20px 20px 20px;
    }
    html[lang="en"] #Impacts .Impact:nth-of-type(odd) .title{
        border-radius: 0px 20px 20px 20px;
    }
    html[lang="en"] #Impacts .Impact:nth-of-type(even) .title{
        border-radius: 0px 20px 20px 20px;
    }

    #Impacts .Impact .details p {
        font-size: 18px;
        padding: 15px;
        border-radius:20px;
        margin: 15px 0;
    }

    #Impacts .Impact .title {
        padding: 15px;
        border-radius: 20px 20px 20px 0;
        width: 100%;
    }
    #Impacts .Impact .title h1 {
        font-size: 22px;
        width: auto;
        margin: 15px 0;
    }
    .glide__slide a{
        display: grid;
        justify-items: center;
        align-items: center;
    }

    #Impacts .slider{
        margin:50px 0;
    }

    #Impacts .slider img{
        width: 160px;
    }

    #Impacts  .glide__arrow img{
        width: 50px;
    }

    .AllImpacts .glide__arrow--left {
        /* support safari */
        -webkit-transform: rotate(270deg) translate(120%,0);
        transform: rotate(270deg) translate(120%,0);
        left: -0.2em;

    }
    .AllImpacts .glide__arrow--right {
        /* support safari */
        -webkit-transform: rotate(90deg) translate(-120%,0);
        transform: rotate(90deg) translate(-120%,0);
        right: -0.2em;

    }
    #Impacts .slider h1{
        font-size:18px;
        margin: 20px 0;
    }

    .showStory .member .StoryImage div{
        width: 250px;
        height: 360px;
        border-radius: 40px;
    }
    .showStory .member{
        flex-flow: column;
        align-items: center;
    }
    .showStory .member .title h1{
        font-size:25px;
    }
    .showStory .member .title p {
        font-size:18px;
        max-width: 95%;
    }
    .showStory .member .title{
        margin: 40px 0;
    }

    .showStory .member .StoryImage div::after{
        border-radius: 40px;
    }

    .showStory .details{
        width: 90%;
        margin: 50px 0;
    }
    .showStory .details div{
        font-size: 18px;
    }
    .moreStories .more{
        color: #fff;
        padding: 10px 40px;
        font-size: 18px;
        margin: 20px;
    }
}
