#news{
    margin: 4vw 0;
}

#news .news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4vw 0;
    border-radius: 2vw;
}
#news .new{
    margin: 1vw 0;
    border-radius: 2vw;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 33%;
    padding: 0 2vw;
}
#news .new .image{
    width: 100%;
    background: var(--background) no-repeat center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    border: 0.4vw solid #fff;
    border-radius:2vw;
    height: 30vh;
}
#news .new h1{
    width: 90%;
    color:#35C0CA;
    font-size: 1.4vw;
    margin: 1vw 0;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#news .new a{
    color:#fff;
    background-color: #35C0CA;
    padding: 1vw;
    font-size: 1.8vw;
}



