.head{

left: 559px;
top: 178px;
/* padding: 3% 20%; */
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 51px;
color: #231E1E;
margin-right: 8%;

}
.container{
    margin-top: -6%;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}


    .line {


       border-left: 2px solid rgba(0, 0, 0, 0.44);
       height: 22px;
       position: absolute;
       height: 209px;


    }
    .lead {
      font-size: 1.1rem;
    }

    .rounded-circle{
        background: #EC9B4A !important;
        width: 62px;
        height: 62px;
        text-align: center;
        z-index: 1;
    }

    .steps{
        background: #FFFFFF;
box-shadow: 0px 2.84612px 29.1728px rgba(0, 0, 0, 0.25);
border-radius: 42.6919px;
width: 873px;
height: 160px;
    padding: 3%;
    }

    .index{
        padding: 5% 3% 0% ;
    }

    .btnInfo{
        border-color: #E7A600D4;
        color: black;
        opacity: 83%;
        border-radius: 4px;
        width: 188.08px;
        height: 48px;
        margin-right: 40%;
        font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
    }
