

/* global properties */
section {
    margin: 3vw 0;
}

.text p strong {
    font-size: 25px;
}
.title{
    font-size: 2vw;
    text-align: center;
    color: #35C0CA;
}
section .general {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0;
}

.title h1{
    color: #35C0CA;
}
iframe {
    border: none;
}

.text {
    display: grid;
}

.text1 {
    grid-row: 1;
}

.text2 {
    grid-row: 2;
}

.text p {
    font-size: 1.2vw;
    width: 90%;
    height: 16vw;
    overflow: hidden;
    text-align: justify;
    justify-self: end;
}

.text button {
    background: #F37246;
    border-radius: 1vw;
    font-size: 1.2vw;
    justify-self: center;
    color: #fff;
    padding: 1vw 3vw;
    margin: 1vw 0;
    opacity: 0;
    cursor: default;
}

/* section 1 */
.watania-story .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 0 0 2vw 0;
    margin: 5vw 0;
}

.watania-story .container .text {
    grid-row: 1;
}

.watania-video {
    justify-self: end;
    grid-row: 1;
}
.watania-video iframe{
    justify-self: end;
    grid-row: 1;
    width: 30vw;
    height: 20vw;
}

@keyframes story {
    0% {
        margin-top: -40px;
    }

    50% {
        margin-top: 0px;
    }

    100% {
        margin-top: -40px;
    }
}

.story-video {
    border-radius: 2vw;
    animation: story 5s ease-in-out infinite;
}
#about{
    position: relative;
}
#about .description{
    display: grid;
    justify-items: center;
}
#about .description img{
    height: auto;
    margin: 1vw 4vw;

}
#about .description p {
    font-weight: normal !important;
}
#about .description img:nth-of-type(1){
    width: 4vw;
    justify-self: start;
    position: absolute;
    top: 0%;
}
#about .description img:nth-of-type(2){
    width: 2.5vw;
    justify-self: end;
    position: absolute;
    top: 100%;
}

#about .description p{
    margin: 0.5vw 0;
    padding: 0 4vw;
    text-align: justify;
    position: relative;
    font-weight: 600;
}



@media (max-width:800px) {

    #about .description img{
        margin: 40px 20px 20px 20px;
    }
    #about .description img:nth-of-type(1){
        width: 40px;
        top: -20%;
    }
    #about .description img:nth-of-type(2){
        width: 30px;
        top: 60%;
    }
    #about .description p{
        font-size: 18px;
        padding: 0 15px;
    }

}

/* section3 */
.our-values .container {
    width: 90%;
    margin: auto;
}

.our-values .container .values{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 2vw;
}
.our-values .container .values p{
    font-size: 2vw;
    text-align: center;
    padding: 2vw 0;
    width: 40%;
    margin: 1vw 2vw;
    border-radius: 2vw;
    color: #fff;
}
.our-values .container .values p:nth-of-type(1){
    background-color: #F37246;
}
.our-values .container .values p:nth-of-type(2){
    background-color: #35C0CA;
}
.our-values .container .values p:nth-of-type(3){
    background-color: #7950A0;
}
.our-values .container .values p:nth-of-type(4){
    background-color: #43B649;
}

/* section4 */
.our-methodology {
    margin:3vw 0;
}

.our-methodology .container {
    width: 90%;
    margin: auto;
}

.our-methodology .container .text p {
    justify-self: center;
    margin-right: 2vw;
    height: auto;
    width: 80%;
}

/* section5 */
.watania {
    display: grid;
    justify-items: center;
    margin: 3vw 0;
    text-align: center;
}

.watania h1 {
    font-size: 2vw;
    margin: 0 0 2vw 0;
    text-align: center;
    color: #35C0CA;

}

.watania .targets {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.watania .targets .target {
    display: grid;
    justify-items: center;
    padding: 1vw;
}

.watania .targets .target h1 {
    font-size: 4.5vw;
    background: #35C0CA;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watania .targets .target p {
    font-size: 1.2vw;
    text-align: center;
    background: #e4e4e4;
    width: 15vw;
    padding: 1vw 1vw 0.5vw 1vw;
    margin-top: -4.5vw;
    z-index: -1;
    min-height: 18vw;
    display: grid;
    align-items: center;
}

.slider-values {
    padding: 1vw;
    border-radius: 1vw;
}

.values .value {
    cursor: pointer;
}

.watania .targets .target4 h1 {
    padding:2vw;
}

.future-of-watania {
    width: 90%;
    margin: 1vw auto 0px auto;
}

.development-img {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.development-img img {
    width: 8vw;
    height: auto;
    margin: 1vw;
}

.d2030 h1 {
    text-align: center;
    margin-top: 1vw;
}

.d2030 .text p {
    width: 5vw;
}

.watania2030-video {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 3vw;
}

.watania2030-video .text h1 {
    text-align: start;
    justify-self: center;
}

.watania2030-video .text p {
    margin-top: 0px;
    justify-self: center;
    width: 35vw;
}

.watania2030-video .story-video {
    width: 35vw;
    animation: future 3s ease-in-out infinite;
}
.call-action{
    padding: 1vw 3vw;
    background:#35C0CA;
    color: #fff;
    margin: 2vw 0;
}

@media (max-width:800px) {
    .watania-story .container .text {
        margin: 20px 0 0 0;
    }
    /* global properties */
    section {
        margin: 0px 0;
    }
    .title{
        font-size: 22px;
    }
    section .general {
        margin: 10px 0 40px 0;
    }
    .text p {
        font-size: 18px;
        width: 100%;
        height: 300px;
    }

    .text button {
        border-radius: 20px;
        font-size:18px;
        padding: 15px 40px;
        margin: 20px 0 0 0;
        justify-self: center;
    }

    /* section 1 */
    .watania-story .container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 0;
    }

    .watania-video iframe{
        justify-self: end;
        grid-row: 1;
        width: 100%;
        height: 300px;
    }

    .story-video {
        border-radius: 20px;
        animation:none;
    }

    /* section3 */
    .our-values .container {
        width: 90%;
        margin: auto;
    }
    .our-values .container .values{
        margin: 10px;
    }
    .our-values .container .values p{
        font-size: 22px;
        padding: 20px 0;
        width: 100%;
        margin: 20px 40px;
        border-radius: 20px;
    }

    /* section4 */
    .our-methodology {
        margin:20px 0;
    }
    .our-methodology .container .text p {
        margin-right: 0;
        width: 90%;
    }

    /* section5 */
    .watania {
        margin: 40px 0;
    }

    .watania h1 {
        font-size: 22px;
        margin: 0 0 30px 0;
    }

    .watania .targets {
        display: flex;
        flex-flow: wrap;
    }
    .watania-video {
        justify-self: center;
        grid-row: 1;
        width: 100%;
    }
    .watania .targets .target {
        display: grid;
        justify-items: center;
        padding: 20px;
    }

    .watania .targets .target h1 {
        font-size: 60px;
        width: 140px;
        height: 140px;
    }

    .watania .targets .target p {
        font-size: 18px;
        width: 90%;
        padding: 40px;
        margin-top: -90px;
        z-index: -1;
        min-height: 260px;
        display: grid;
        align-items: center;
    }

    .watania .targets .target4 h1 {
        padding:20px;
    }

    .future-of-watania {
        margin: 20px auto 0px auto;
    }

    .development-img img {
        width: 120px;
        height: auto;
        margin: 10px;
    }

    .d2030 h1 {
        margin-top: 10px;
    }

    .d2030 .text p {
        width: 90%;
    }

    .watania2030-video {
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 20px;
    }

    .watania2030-video .text h1 {
        text-align: center;
        justify-self: center;
    }

    .watania2030-video .text p {
        margin-top: 0px;
        justify-self: center;
        width: 100%;
        height: auto;
    }

    .watania2030-video .story-video {
        width: 80%;
        animation: future 3s ease-in-out infinite;
    }
    .call-action{
        padding: 15px 40px;
        margin: 40px 0;
    }
    .slider-values {
        padding: 10px;
        border-radius: 20px;
    }
}
